<a href="https://colab.research.google.com/github/Jonny-T87/Dojo-Work/blob/main/Renaming%2C_Deleting%2C_%26_Missing_Data_(Practice).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [106]:
import pandas as pd

In [107]:
from google.colab import drive

In [108]:
filename = '/content/drive/MyDrive/DojoBootCamp/Project Files/RailsToTrails_National Count Data_week.xlsx'
bike_df = pd.read_excel(filename)

In [109]:
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [110]:
#Delete the unnecessary columns 7 by itself
bike_df = bike_df.drop(columns = 'Unnamed: 7')

In [111]:
# Delete 2 columns at once 8 & 9
bike_df = bike_df.drop(columns=['Unnamed: 8', 'Unnamed: 9'])

In [112]:
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

In [113]:
#Rename the Unnamed: 6 column to percent_change.
bike_df = bike_df.rename(columns = {'Unnamed: 6': 'percent_change'})
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

In [114]:
#How many missing values are in the dataset? Which columns are they in?
bike_df.isna().sum()
#Most are in '2021 Counts' column

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
dtype: int64

In [115]:
bike_df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
dtype: bool

In [116]:
bike_df.duplicated().sum()

0

In [117]:
bike_df.nunique()

Timeframe                     52
Week of                       52
 2019 counts (31 counters)    52
 2020 counts (31 counters)    52
2021 Counts                    0
Change 2019-2020              44
percent_change                52
dtype: int64

In [118]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     float64
 3    2020 counts (31 counters)  52 non-null     float64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   percent_change              52 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 3.0+ KB

In [119]:
#There is a challenging but common issue in the name for the 2019 counts column. Can you find it?

Yes, i think the problem with the '2019 counts (31 counters)' is that it is to similar to '2020 counts (31 counters)'. Also they both are somewhat long for data column names. Thus, not readable and beautiful.

In [120]:
#If so, Rename the 2019 counts (31 counters) column to "counts_2019" (a more Pythonic column name).
bike_df = bike_df.rename(columns={'2019 counts (31 counters)': 'counts_2019',
                                  '2020 counts (31 counters)': 'counts_2020'})

In [121]:
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602